@model MvcBasicApp.Models.Provider


<div class="form-group">
    <label asp-for="Adress.PublicPlace" class="control-label"></label>
    <input asp-for="Adress.PublicPlace" class="form-control" />
    <span asp-validation-for="Adress.PublicPlace" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adress.Number" class="control-label"></label>
    <input asp-for="Adress.Number" class="form-control" />
    <span asp-validation-for="Adress.Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adress.Complement" class="control-label"></label>
    <input asp-for="Adress.Complement" class="form-control" />
    <span asp-validation-for="Adress.Complement" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adress.PostalCode" class="control-label"></label>
    <input asp-for="Adress.PostalCode" class="form-control" />
    <span asp-validation-for="Adress.PostalCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adress.District" class="control-label"></label>
    <input asp-for="Adress.District" class="form-control" />
    <span asp-validation-for="Adress.District" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adress.City" class="control-label"></label>
    <input asp-for="Adress.City" class="form-control" />
    <span asp-validation-for="Adress.City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Adress.State" class="control-label"></label>
    <input asp-for="Adress.State" class="form-control" />
    <span asp-validation-for="Adress.State" class="text-danger"></span>
</div>

